@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400..600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {--eggshell: #F4F1DE;}

#home {
    --main: #81B29A;
    --shade: #53826C;
}

#analysis {
    --main: #3D405B;
    --shade: #151A31;
}

#error {
    --main: #AD4865;
    --shade: #7A163B;
}

body {
    background-color: var(--eggshell);
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#logo {
    width: auto;
    height: 50px;
    margin: 20px auto;
    display: block;
}

h1 {
    color: var(--shade);
    font-family: "Quicksand", monospace;
    font-weight: 400;
    text-align: center;
    margin-top: 4px;
    padding: 4px;
    margin-bottom: 4px;
}

h2 {
    color: var(--main);
    font-family: "Quicksand", monospace;
    font-weight: 500;
    margin: 20px 0px 0px 25vw;
    max-width: 75vw;
}

h3 {
    margin: 5px;
    font-size: 2vh;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    background-color: var(--main);
    font-weight: 500;
}

ul, h3 {
    font-family: "Quicksand", monospace;
    font-weight: 600;
}

nav a {
    color: var(--eggshell);
    text-decoration: none;
    padding: 0 15px 0 15px;
    display: block;
}

#nav-main, nav a:hover {
    color: var(--main);
    background-color: var(--eggshell);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--main);
}

small {
    font-size: 15px;
    display: block;
    color: var(--eggshell);
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: "Quicksand", monospace;
}

#analysis main {
    display: flex;
    align-items: flex-start;
}

#menu {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    width: 15%;
    position: fixed;
    top: 19%;
}

.card {
    text-align: center;
    border-radius: 6px;
    color: var(--main);
    border: 3px solid var(--shade);
    margin-bottom: 25px;
}

.card:hover, .card-active {
    background-color: var(--main);
    color: var(--eggshell);
}

.info-c {
    display: none;
}

.info-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-p, table {
    color: var(--shade);
    margin: 10px 50px 10px 25vw;
    max-width: 75vw;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--main);
    padding: 8px;
    text-align: center;
    width: 75vw;
}

tr:nth-child(even) {background-color: #DDD;}

#analysis-s {
    margin: 20px 50px 10px 25vw;
    border: 3px solid var(--main);
}

#analysis-s > * {
    margin-top: 10px;
    margin-left: 10px;
}

#error main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#error-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 50%;
}

#error-line {
    text-align: left; 
    width: max-content;
}

#return-link {
    text-decoration: none;
    color: var(--main);
    width: max-content;
    padding: 4px;
}

#return-link:hover {
    color: var(--shade);
}