@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400..600&display=swap');

:root {
    --eggshell: #F4F1DE;
    --main: #E07A5F;
    --shade: #AA4C34;
}

h1 {
    font-size: 3vh;
}

h2, p {
    text-align: center;
}

button {
    display: block;
    margin: auto;
    border: none;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--main);
    color: var(--eggshell);
}

button:hover {
    background-color: var(--shade);
    color: var(--eggshell);
}

#help-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, 0.6);
    z-index: 30;
    display: none;
}

.help-content {
    width: 60vw;
    height: 60vh;
    background-color: var(--eggshell);
    border: 10px solid var(--shade);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: var(--main);
    float: right;
    margin: auto 20px;
    font-size: 48px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slides {display: none;}

video {
    display: block;
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: var(--main);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {background-color: var(--shade);}

canvas {display: block;}

select {
    background-color: var(--eggshell);
    color: var(--main);
    border: none;
    outline: none;
    font-family: "Quicksand", monospace;
    font-weight: 500;
    font-size: 20px;
}

input[type=range] {
    width: 100%;
    margin: 6.85px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #E07A5F;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 9.3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -6.85px;
    width: 23px;
    height: 23px;
    background: #E07A5F;
    border: 3px solid #AA4C34;
    border-radius: 12px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    background: #E07A5F;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 9.3px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 23px;
    height: 23px;
    background: #E07A5F;
    border: 3px solid #AA4C34;
    border-radius: 12px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.85px 0;
    color: transparent;
    width: 100%;
    height: 9.3px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    border: 0;
    border-radius: 8px;
}

input[type=range]::-ms-fill-upper {
    background: #E07A5F;
    border: 0;
    border-radius: 8px;
}

input[type=range]::-ms-thumb {
    width: 23px;
    height: 23px;
    background: #E07A5F;
    border: 3px solid #AA4C34;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #E07A5F;
}

@supports (-ms-ime-align:auto) {
    input[type=range] {
        margin: 0;
    }
}