:root {
	--eggshell: #f4f1de;
	--darkegg: #8e8b79;
}

#home {
	--main: #81b29a;
	--shade: 83, 130, 108;
}

#analysis {
	--main: #3D405B;
	--shade: 21, 26, 49;
}

#info {
	--main: #e07a5f;
	--shade: 170, 76, 52;
}


body {
	background-color: var(--eggshell);
	margin: 0;
	font-family: "Open Sans", monospace;
}

h1 {
	color: rgb(var(--shade));
	font-family: "Quicksand";
	display: flex;
	align-self: center;
	justify-content: center;
	margin-top: 4px;
	padding: 4px;
	margin-bottom: 4px;
}

header h1 {font-size: 36px;}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
	list-style-type: none;
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main);
	margin-top: 0;
	padding: 0;
}

ul, h2 {font-family: "Oswald", monospace;}

nav a {
	color: var(--eggshell);
	text-decoration: none;
    padding: 10px;
    margin: 5px;
}

#navmain {
	color: var(--main);
	background-color: var(--eggshell);
}

#grid {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
	margin: 25px;
}

.card {
	text-align: center;
	border-radius: 6px;
	box-shadow: 0px 6px 0px 0px var(--darkegg);
	border: solid var(--eggshell);
	border-width: 3px 3px 0 3px;
	color: var(--main)
}

.card:hover {
	border: solid rgba(var(--shade), 0.4);
	box-shadow: 0px 6px 0px 0px rgba(var(--shade), 0.8);
	border-width: 3px 3px 0 3px;
	background-color: var(--main);
	color: var(--eggshell);
}

#info-p {
	display: none;
	padding: 25px;
}
