:root {
	--eggshell: #f4f1de;
	--darkegg: #8e8b79;
}

#home {
	--main: #81b29a;
	--shade: 83, 130, 108;
}

#analysis {
	--main: #3D405B;
	--shade: 21, 26, 49;
}

#error {
    --main: #AD4865;
    --shade: 122, 22, 59;
}

body {
	background-color: var(--eggshell);
	margin: 0;
	font-family: "Pangolin", monospace;
}

h1 {
	color: rgb(var(--shade));
	font-family: "Quicksand";
    text-align: center;
	margin-top: 4px;
	padding: 4px;
	margin-bottom: 4px;
}

header h1 {font-size: 36px;}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
	list-style-type: none;
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main);
	margin-top: 0;
	padding: 0;
}

ul, h3 {font-family: "Oswald", monospace;}

h3 {
    margin: 5px;
    font-size: 2vh;
}

nav a {
	color: var(--eggshell);
	text-decoration: none;
    padding: 0 10px 0 10px;
    display: block;
}

#nav-main, nav a:hover {
	color: var(--main);
    background-color: var(--eggshell);
}

#analysis main {
    display: flex;
    align-items: flex-start;
}

#grid {
    display: grid;
	grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin: 50px;
    width: 15%;
    position: fixed;
}

.card {
	text-align: center;
	border-radius: 6px;
	box-shadow: 0px 6px 0px 0px var(--darkegg);
	border: solid var(--eggshell);
	border-width: 3px 3px 0 3px;
    color: var(--main);
}

.card:hover, .card-active {
	border: solid rgba(var(--shade), 0.4);
	box-shadow: 0px 6px 0px 0px rgba(var(--shade), 0.8);
	border-width: 3px 3px 0 3px;
	background-color: var(--main);
	color: var(--eggshell);
}

#info-p {
    color: rgb(var(--shade));
    margin: 50px;
    margin-left: 25vw;
    max-width: 75vw
}

#error main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#error-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 50%;
}

#error-line {
    text-align: left; 
    width: max-content;
}

#return-link {
    text-decoration: none;
    color: var(--main);
    width: max-content;
    padding: 4px;
}

#return-link:hover {
    color: rgb(var(--shade));
}