body {
	background-color: #f4f1de;
	margin: 0;
	font-family: "Quicksand", monospace;
}

header h1 {
	color: #53826c;
	font-size: 36px;
	display: flex;
	align-self: center;
	justify-content: center;
	margin-top: 4px;
	padding: 4px;
	margin-bottom: 4px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
	list-style-type: none;
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #81b29a;
	margin-top: 0;
	/*border-radius: 0% 0% 5% 10%;*/
	padding: 0;
}

nav a {
	color: #f4f1de;
	text-decoration: none;
	padding: 10px;
}

#navmain {
	font-size: 30px;
}

.empty {
	padding-bottom: 1000px;
}